<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- load the properties file -->
    <context:property-placeholder location="classpath:demotwo.properties"/>

    <!-- Define your beans here -->
    <bean id="myService" class="demotwo.RealService"></bean>

    <!-- singleton by default -->
    <bean id="myCoach" class="demotwo.BaseballCoach">
        <constructor-arg ref="myService"/>
    </bean>

    <!-- prototype scope doesn't call destroy method -->
    <bean id="myCoach2" class="demotwo.TrackCoach"
        init-method="initMethod"
        destroy-method="destroyMethod">
        <!-- set up setter injection -->
        <!-- name should be same as the setter method name -->
        <property name="testService" ref="myService"/>
        <property name="emailAddress" value="test@test.com"/>
        <property name="team" value="Hello Team"/>
    </bean>

    <!-- prototype scope -->
    <bean id="sportCoach" class="demotwo.SportCoach" scope="prototype">
        <property name="emailAddress" value="${foo.email}"/>
        <property name="team" value="${foo.team}"/>

    </bean>
</beans>





